/**
 * 淡化动画路由视图
 * fade animation router view class
 */
.--VAR-fade-router-view {
  --back-leave-animation: fade-animation;
  --back-enter-animation: fade-animation;
  --back-enter-animation-reverse: reserve;
  --forward-leave-animation: fade-animation;
  --forward-enter-animation: fade-animation;
  --forward-enter-animation-reverse: reserve;
}

/**
 * 返回操作时候的视图动画
 * the animation of router view's operation
 */
@keyframes fade-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
