/**
 * 淡化滑动动画路由视图
 * fade slide animation router view class
 */
.--VAR-fade-slide-router-view {
  --back-leave-animation: fade-slide-back-leave-animation;
  --back-enter-animation: fade-slide-back-enter-animation;
  --forward-leave-animation: fade-slide-forward-leave-animation;
  --forward-enter-animation: fade-slide-forward-enter-animation;
}

/**
 * 返回操作时候，离开视图的动画
 * the animation of leaving router view's back operation here
 */
@keyframes fade-slide-back-leave-animation {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

/**
 * 返回操作时候，进入视图的动画
 * the animation of entering router view's back operation here
 */
@keyframes fade-slide-back-enter-animation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/**
 * 返回操作时候，离开视图的动画
 * the animation of leaving router view's forward operation here
 */
@keyframes fade-slide-forward-leave-animation {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

/**
 * 返回操作时候，离开视图的动画
 * the animation of entering router view's forward operation here
 */
@keyframes fade-slide-forward-enter-animation {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
